.benefits {
  @include flex-template(column nowrap, flex-start, center);
  width: 100%;
  background-color: $color-gray-blue-1;

  &-content {
    @extend %ui-set-max-width;

    &-title {
      @include top-bottom-margins(144px, 24px);
      @include type-header-l-h2;
      text-transform: uppercase;
      text-align: center;
    }

    &-subtitle {
      @include top-bottom-margins(24px, 80px);
      @include type-body-l-book;
      text-align: center;
    }

    &-box {
      display: flex;
      gap: 24px;
    }
  }

  &-item {
    @include flex-template(column nowrap, flex-start);
    @include ui-template(48px 40px 72px);

    flex: 1 1 calc(33% - (48px / 3));

    &-text {
      @include type-body-l-demi;
      flex: 1 1 50%;
    }

    &-emoji {
      margin-bottom: 24px;
      align-self: center;
       flex: 0 0 50%;
    }
  }

  &-bottom-spacer {
    height: 144px;
    width: 100%;
  }
}

@media (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {
  .benefits-content-box {@include flex-template(row wrap, center)}

  .benefits-item {
    flex: 0 0 calc(50% - 24px);
  }
}

@media (max-width: $mobile-breakpoint) {
  .benefits-content {

    &-title {
      @include type-header-s-h2;
      text-align: center;
    }

    &-subtitle {@include type-body-s-book}
    &-box {@include flex-template(column nowrap, flex-start, stretch)}
  }

  .benefits-item {
    justify-content: space-between;

    &-text {@include type-body-s-demi}
  }

  .benefits-bottom-spacer {height: 96px}
}