$url-to-decoration-dots: "src/img/experts/decoration-dots.svg";

.experts {
  @include flex-template(column nowrap, flex-start, center);

  background-color: #fff;

  &-title {
    @include top-bottom-margins(144px, 24px);
    @include type-header-l-h2;
    text-transform: uppercase;
  }

  &-subtitle {
    @include type-body-l-book;
    max-width: 512px;
  }

  &-box {
    @include top-bottom-margins(80px, 96px);
    @include flex-template(row wrap, center, normal, 56px 24px);
  }

  &-card {
    flex: 0 1 calc((100% - 72px) / 4);
    @include flex-template(column nowrap, flex-start, center);

    &-picture {
      @include ui-template(0, 56px);
      width: 100%;
      height: fit-content;
      flex: 0 0 auto;
      margin-bottom: 24px;

      &-wrapper {
        padding: 0 40px;
      }
    }

    &-description {
      @include flex-template(column nowrap, flex-start, stretch);

      span {text-align: center}

      &-name {@include type-body-l-demi}

      &-career {@include type-body-s-book}

      &-company {
        @include type-body-s-demi;

        &-ws {color: $color-blue-2}
      }
    }
  }


}

.ceo {
  @include top-bottom-margins(96px, 144px);
  width: 100%;

  &-card {
    @include flex-template(column nowrap);

    &-picture {
      @include ui-template(0, 56px);
      @include top-bottom-margins(0, 24px);
      width: 152px;
      height: 152px;
    }
  }

  &-about {
    @include type-body-l-book;
    text-align: left;
    color: $color-gray-blue-6;
    max-width: 480px;
    margin-bottom: 0;
  }

  &-content {
    @include flex-template(row nowrap, center, flex-start, 40px);
    @include ui-template;
    @include adaptive-padding-from-width(40px, 56px, 916px, 1176px);
    box-shadow: none;
    width: 100%;
    background: #fff no-repeat bottom 32px right 32px url($url-to-decoration-dots);
  }
}

@media (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {
  .experts-card {flex: 0 1 calc((100% - 48px) / 3)}

  .ceo-content {background-size: 56px}
}

@media (max-width: $mobile-breakpoint) {

  .experts {
    &-title {@include type-header-s-h2}

    &-subtitle {@include type-body-s-book}

    &-box {
      @include overflow-x-fix;
      @include top-bottom-margins(56px, 72px);
      @include flex-template(row nowrap, flex-start, normal);
      gap: 0;

      .experts-card:first-child {margin-left: 16px}
      .experts-card:last-child {margin-right: 16px}
    }

    &-card {
      flex: 0 1 calc((100% - 80px) / 3);

      &-picture {
        height: 140px;
        width: 140px;
        border-radius: 38px;

        &-wrapper {
          padding: 0 24px;
        }
      }
    }
  }

  .ceo {
    @include top-bottom-margins(0, 96px);

    &-content {
      @include flex-template(column nowrap, flex-start, center, 24px);

      padding: 56px 0;
      background: #fff no-repeat bottom 16px right 16px url($url-to-decoration-dots);
      background-size: 40px;

      &-card {
        @include top-bottom-margins(40px, 0);
      }
    }

    &-about {
      padding: 0 16px;
    }
  }
}
