$url-to-footer-bg-img: url("src/img/bg-img.svg");
$url-to-ws-logo: url("src/img/ws-logo.svg");

.call {
  @include flex-template(row nowrap, space-between, stretch, 48px);
  max-height: 576px;
  min-height: 544px;
  padding-top: 144px;
  padding-bottom: 144px;
  align-self: center;
  width: 100%;
  overflow: visible;

  &-block {
    @include flex-template(column nowrap, flex-start, flex-start);

    max-width: 476px;
    flex: 0 0 auto;

    &-title {
      @include type-header-l-h2;
      @include top-bottom-margins(0, 16px);
      text-transform: uppercase;
    }

    &-text {
      @include type-body-l-book;
      @include top-bottom-margins(16px, 48px);
      text-align: left;
    }

    &-button {
      @extend %ui-primary-button;
      height: 56px;
      max-width: 392px;
      width: 100%;
    }
  }

  &-image {
    width: 100%;
    height: 100%;

    &-wrapper {
      align-self: center;
      height: 100%;
    }
  }
}

.footer {
  @include flex-template(row nowrap, flex-start, flex-start, 24px);
  @include top-bottom-margins(80px, 80px);
  position: relative;
  width: 100%;
  height: 170px;
  align-self: center;
  background: no-repeat bottom 1px right $url-to-ws-logo;
  background-size: 102px;

  &-card {
    @include flex-template(column nowrap, flex-start, flex-start);
    width: 276px;

    &-title {
      @include type-body-l-demi;
      color: $color-gray-blue-5;
      @include top-bottom-margins(0, 20px);
      text-align: left;
    }

    &-text {
      @include type-body-s-medium;

      color: $color-gray-blue-5;
      margin-bottom: 12px;
      text-decoration: none;

      &-facebook {@include footer-icon-template("src/img/footer/facebook.svg")}
      &-instagram {
        @include footer-icon-template("src/img/footer/instagram.svg");
        bottom: 11px;
        &::before {
          top: 7px;
        }
      }

      &-mail {@include type-mail}
    }

  }

  &-designer {
    @include type-designer;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &-wrapper {
    @include flex-template(column nowrap, flex-start, center);
    width: 100%;
    background-color: $color-gray-blue-1;
  }
}

@media (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {
  .call {
    gap: 36px;
    max-height: 360px;

    &-block {
      flex: 1 0 50%;
      align-self: center;
      height: 100%;
    }

    &-image {
      flex: 1 0 50%;
      padding-right: 24px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .call {
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
    max-height: none;
    padding-top: 96px;
    padding-bottom: 0;

    &-block {
      max-width: none;

      &-title {
        @include type-header-s-h2;
        @include top-bottom-margins(0, 16px)
      }

      &-text {
        @include type-body-s-book;
        @include top-bottom-margins(16px, 32px);
        text-align: left;
      }

      &-button {
        max-width: none;
      }
    }
  }

  .footer {
    @include flex-template(column nowrap, flex-start, flex-start, 45px);
    @include top-bottom-margins(56px, 56px);
    height: 456px;
    padding-bottom: 140px;
    background-size: 78px;

    &-designer {
      position: static;
      padding: 0;
    }
  }
}
