body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.content-wrapper {
  @extend %ui-set-max-width;
  @include flex-template(column nowrap, flex-start, stretch);
}

div,
section,
img,
header,
article {
  box-sizing: border-box;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: $ui-font-family;
}

.spacer-intro-partners {
  @extend %ui-set-max-width;
  background: #fff;
  height: 96px;
  width: 100%;
}

.spacer-partners-pain {
  @extend %ui-set-max-width;
  background: #fff;
  height: 144px;
  width: 100%;
}

@media (max-width: $tablet-max-breakpoint) and (max-width: $tablet-min-breakpoint) {

  .spacer-intro-partners {
    display: none;
  }

}

@media (max-width: $mobile-breakpoint) {
  .spacer-intro-partners {
    @extend %ui-set-max-width;
    background: #fff;
    height: 32px;
    width: 100%;
  }

  .spacer-partners-pain {
    @extend %ui-set-max-width;
    background: #fff;
    height: 96px;
    width: 100%;
  }
}