$url-to-header-bg-img: url("src/img/bg-img.svg");
$url-to-header-more-circle: url("src/img/header/header-more-circle.svg");

$header-width-desktop: 488px;
$header-width-medium: 640px;
$header-width-mobile: 100%;

.intro {
  @extend %ui-set-max-width;
  @include flex-template(row nowrap, space-between, flex-start);
  width: 100%;
  padding-bottom: 30px;
  background: #fff no-repeat top 116px right 56px $url-to-header-bg-img;

  &-logo {margin-top: 64px}
}



.header {
  @include flex-template(column nowrap, flex-start, center);
  width: $header-width-desktop;
  border: $ui-default-border;
  border-radius: 0 0 $ui-border-radius $ui-border-radius;
  background: white;
  box-shadow: $ui-soft-shadow;

  &-top {
    @include flex-template(column nowrap, space-between);
    padding: 0 48px;
  }

  &-text {
    @include flex-template(column nowrap, center, center);

    &-suptitle {
      @include type-body-l-medium;
      font-weight: 500;

      &-special {
        @include type-body-l-medium;
        margin: 0 4px;
      }

    }

    &-title {
      @include type-header-l-h1;
      margin: 24px 0;
    }

    &-subtitle {@include type-body-l-book}

  }

  &-start {
    @include flex-template(column nowrap, center, center);

    &-button {
      @extend %ui-primary-button;
      align-self: stretch;
      height: 56px;
      margin: 0 0 12px;
    }

    &-subtitle {@include type-body-s-book}
  }

  &-bottom {
    @include flex-template(column nowrap, flex-start, center);
    height: 123px;
    width: 424px;

    padding: 24px 0 0;

    background: #fff top center no-repeat $url-to-header-more-circle;

    &-text {
      @include type-body-l-medium;
      color: $color-gray-blue-5;
      cursor: default;
      padding-bottom: 5px;
    }

    &-wrapper {
      @include flex-template(row nowrap, center);
      width: 100%;
      border-radius: 0 0 $ui-border-radius $ui-border-radius;
    }
  }
}

.spacer-header {
  &-top {
    width: 100%;
    height: 96px;
  }

  &-text-to-button {
    width: 100%;
    height: 48px;
  }

  &-button-to-more {
    height: 98px;
    width: 100%;
  }
}

@media (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {

  .intro {
    @include flex-template(row nowrap, center, center);
    @include ui-header-adaptive-bg($url-to-header-bg-img);
  }

  .header {
    width: $header-width-medium;

    &-start {padding: 0 76px}
  }

  .intro-logo {
    position: absolute;
    margin-top: 48px;

    &-img {
      position: relative;
      left: 10px;

      width: 77.45px;
      height: 56px;
    }
  }

  .spacer {
    &-header-top {
      height: 136px;
      width: 100%;
    }
    &-header-button-to-more {
      display: block;
      height: 48px;
      width: 100%;
    }
  }
}

@media (max-width: $mobile-breakpoint) {

  .intro {
    @include flex-template(row nowrap, center);
    @include ui-header-adaptive-bg($url-to-header-bg-img);

    &-logo {
      position: absolute;
      margin-top: 32px;
      left: calc(50% - (77.45px / 2));

      &-img {
        position: relative;
        left: 10px;

        width: 77.45px;
        height: 56px;
      }
    }
  }

  .header {
    width: $header-width-mobile;
    padding: 0 16px;

    &-top {padding: 0}

    &-text {
      &-suptitle  {@include type-body-s-medium}
      &-title     {@include type-header-s-h1}
      &-subtitle  {@include type-body-s-book}
    }

    &-start {
      &-button    {margin: 0 0 12px}
      &-subtitle  {@include type-body-s-book}
    }

    &-bottom-text {
        @include type-body-s-medium;
        color: $color-gray-blue-5;
    }
  }

  .spacer-header {
    &-top {
      height: 121px;
      width: 100%;
    }

    &-text-to-button {height: 32px}

    &-button-to-more {height: 32px}
  }

  @media (max-width: 545px) {
    .header {
      &-bottom {
        @include flex-template(column nowrap, center, center);
        @include adaptive-height-from-width__content(null, null, 10%, null);
        padding: 0;
        width: 100px;
        height: 80%;
        background: none;

        &-wrapper {
          @include adaptive-height-from-width__wrapper(29%);
          background: #fff bottom center/100% no-repeat  $url-to-header-more-circle;
          border-radius: 0;
          max-width: 424px;
          max-height: 123px;
        }
      }
    }
  }
}





