.pain-title {
  @include type-header-l-h2;
  height: 176px;
}

.pain {
  background-color: #fff;

  &-box {
    @include flex-template(row wrap, space-between, normal, 24px);
  }

  &-block {
    @include flex-template(column nowrap, flex-start);
    padding: 32px;
    border: $ui-default-border;
    border-radius: $ui-border-radius;

    flex: 1 1 calc((100% / 3) - 16px);

    &-1 {flex: 1 2 23.4%}
    &-3 {flex-grow: 2}

    &-spacer {
      height: 64px;
      flex: 1 0 64px;
    }
  }

  &-text {
    @include type-header-l-h4;
    color: $color-gray-blue-5;
  }

  &-emoji {align-self: flex-end}
}

.pain-conclusion {
  @include top-bottom-margins(72px, 144px);
  @include flex-template(row nowrap, space-around);

  &-text {
    max-width: 768px;
    @include type-header-l-h4;
    text-align: center;
  }
}

@media (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {
  .pain {

    &-block {
      flex: 0 1 calc((100% / 2) - 12px);

      &-1 {flex: 1 2 30%}
      &-2 {flex: 0 1 65%}
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  $pain-card-max-width: 348px;
  .pain {
    &-title {@include type-header-s-h2}

    &-box {@include flex-template(column nowrap, flex-start, center)}

    &-block {
      max-width: $pain-card-max-width;
      flex: 1 0 auto;
    }

    &-text {
      @include type-header-s-h4;
      color: $color-gray-blue-5;
    }

    &-conclusion{
      @include top-bottom-margins(72px, 96px);

      &-text {@include type-header-s-h4}
    }
  }
}