.partners {

  @include flex-template(column nowrap, flex-start, center);
  background-color: #fff;
  width: 100%;

  &-text {
    @include type-header-l-h4;
    text-align: center;
    padding-bottom: 32px;
  }

  &-general {
    @include flex-template(row nowrap, center, center, 72px);
  }

  &-info {
    @include flex-template(row nowrap, center, center, 72px);
  }
}

.spacer-partners {
  width: 100%;
  height: 56px;
}

@media (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {
  .partners-info {
    @include flex-template(row wrap, center, center, 62px);
    max-width: 504px
  }

  .cossa       {width: 135px}
  .ruward       {width: 114px}

  .biz360       {width: 101px}
  .cms-magazine {width: 171px}
  .arda         {width: 128px}
  .rusbase      {width: 152px}
}

@media (max-width: $mobile-breakpoint) {

  .partners {
    &-info {
      @include flex-template(row wrap, center, center, 48px);
      max-width: 288px
    }

    &-text {@include type-header-s-h4;}
  }

  .cossa        {width: 118px}
  .ruward       {width: 99px }

  .biz360       {width: 79px }
  .cms-magazine {width: 134px}
  .arda         {width: 100px}
  .rusbase      {width: 119px}
}








