$color-blue-2: #56B8FF;

$color-gray-blue-1: #F9FAFD;
$color-gray-blue-3: #DBE3F0;
$color-gray-blue-4: #A3B3CC;
$color-gray-blue-5: #637899;
$color-gray-blue-6: #27303F;

$tablet-max-breakpoint: 979px;
$tablet-min-breakpoint: 768px;
$mobile-breakpoint: 767px;

$ui-soft-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
$ui-default-border: 1px solid $color-gray-blue-3;
$ui-border-radius: 20px;

$ui-font-family: 'Futura PT', sans-serif;
$ui-font-family-cond: 'Futura PT Cond', sans-serif;

$ui-global-padding-l: 32px;
$ui-global-padding-m: 24px;
$ui-global-padding-s: 16px;


$spacer-l: 144px;
$spacer-m: 80px;
$spacer-s: 48px;

$animation-button-transition: 0.8s;






