%ui-primary-button {
  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    family: $ui-font-family;
    size: 18px;
    style: normal;
    weight: 600;
  }
  line-height: 20px;
  letter-spacing: 0.04em;

  color: $color-blue-2;
  background-color: white;
  cursor: pointer;

  border: 2px solid $color-blue-2;
  border-radius: 12px;

  &:hover {
    background-color: $color-blue-2;
    color: white;
  }

  &:disabled {
    border-color: $color-gray-blue-3;
    color: $color-gray-blue-3;
  }

  transition: background-color $animation-button-transition, color $animation-button-transition;
}

%ui-set-max-width {
  max-width: 1240px;
  padding: 0 32px;
}

//all comments given by Figma

//styleName: header L/H1
@mixin type-header-l-h1 {

  font: {
    family: $ui-font-family-cond;
    size: 64px;
    style: normal;
    weight: 450;
  }

  line-height: 64px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: $color-gray-blue-6;
}

//styleName: header S/H1;
@mixin type-header-s-h1 {
  font: {
    family: $ui-font-family-cond;
    size: 44px;
    style: normal;
    weight: 450;
  }
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: $color-gray-blue-6;
}

//styleName: header L/H2;
@mixin type-header-l-h2 {
  font: {
    family: $ui-font-family;
    size: 40px;
    style: normal;
    weight: 600;
  }

  line-height: 48px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: $color-gray-blue-6;
}

//styleName: header S/H2;
@mixin type-header-s-h2 {
  font: {
    family: $ui-font-family;
    size: 32px;
    style: normal;
    weight: 600;
  }
  line-height: 38px;
  letter-spacing: 0.0025em;
  text-align: left;
}

//styleName: header L/H4;
@mixin type-header-l-h4 {
  font: {
    family: $ui-font-family;
    size: 24px;
    style: normal;
    weight: 600;
  }
  line-height: 32px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: $color-gray-blue-6;
}

//styleName: header S/H4;
@mixin type-header-s-h4 {
  font: {
    family: $ui-font-family;
    size: 20px;
    style: normal;
    weight: 600;
  }
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: $color-gray-blue-6;
}

//styleName: body L/medium
@mixin type-body-l-medium{

  font: {
    family: $ui-font-family;
    size: 20px;
    style: normal;
    weight: 450;
  }

  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: $color-gray-blue-4
}

//styleName: body L/demi;
@mixin type-body-l-demi {
  font: {
    family: $ui-font-family;
    size: 20px;
    style: normal;
    weight: 600;
  }

  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: $color-gray-blue-6;
}

//styleName: body S/demi;
@mixin type-body-s-demi {
  font: {
    family: Futura PT;
    size: 18px;
    style: normal;
    weight: 600;
  }
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  color: $color-gray-blue-6;
}

//styleName: body L/book;
@mixin type-body-l-book {
  font: {
    family: $ui-font-family;
    size: 20px;
    style: normal;
    weight: 400;
  }
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: $color-gray-blue-5;
}

//styleName: body S/medium;
@mixin type-body-s-medium {
  font: {
    family: $ui-font-family;
    size: 18px;
    style: normal;
    weight: 450;
  }

  line-height: 22px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: $color-gray-blue-4;
}

//styleName: body S/book;
@mixin type-body-s-book {
  font: {
    family: $ui-font-family;
    size: 18px;
    style: normal;
    weight: 400;
  }

  line-height: 22px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: $color-gray-blue-5;
}

@mixin type-mail {
  font: {
    family: $ui-font-family;
    size: 18px;
    style: normal;
    weight: 450;
  }
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-gray-blue-5;
  text-decoration: underline;
}

@mixin type-designer {
  font: {
    family: $ui-font-family;
    size: 18px;
    style: normal;
    weight: 450;
  }
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-gray-blue-5;
}

@mixin ui-header-adaptive-bg($url-to-header-bg-img, $bg-aspect-ratio: 1.1, $bg-extra-width: 64px, $bg-bottom-shift: 272px) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  $bg-width: calc(100vw + #{$bg-extra-width});

  $bg-height: calc(#{$bg-width} * #{$bg-aspect-ratio});

  background: #fff no-repeat center bottom $url-to-header-bg-img;
  background-size: $bg-width $bg-height;

  height: calc(#{$bg-height} + #{$bg-bottom-shift});
}

@mixin adaptive-height-from-width__wrapper($percent-of-width, $width: 100%) {
  position: relative;
  padding-top: $percent-of-width;
  &:before {
    display: block;
    content: "";
    width: $width;
  }
}
@mixin adaptive-height-from-width__content($top: null, $right: null, $bottom: null, $left: null) {

  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;

}

@mixin adaptive-padding-from-width ($padding-minimum, $padding-maximum, $width-minimum, $width-maximum) {
  //  если width элемента <= width-minimum, padding-top и padding-bottom === $padding-minimum
  //  если width элемента >= width-maximum, padding-top и padding-bottom === $padding-maximum

  //  промежуточные значения padding линейно зависят от текущей width элемента

  //  Т.О. Паддинг всегда находится в диапазоне заданных значений, и линейно зависит от ширины элемента

  $width-delta: $width-maximum - $width-minimum;
  $padding-delta: $padding-maximum - $padding-minimum;
  $width-to-padding-coefficient: calc($padding-delta  / $width-delta);

  $current-padding: #{
    calc((100% - #{$width-minimum}) * #{$width-to-padding-coefficient} + #{$padding-minimum})
  };

  $limited-padding: #{
          min(   #{$padding-maximum} ,
                  max(         #{$padding-minimum} ,
                               #{$current-padding}
                  )
          )
  };

  padding-top: #{$limited-padding};
  padding-bottom: #{$limited-padding};
}

@mixin top-bottom-margins($top, $bottom) {
  @if ($top) {
    margin-top: $top;
  }
  @if ($bottom) {
    margin-bottom: $bottom;
  }
}

@mixin ui-template($padding: 0, $radius: 20px) {
  padding: $padding;
  border: 1px solid $color-gray-blue-3;
  border-radius: $radius;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
}

@mixin flex-template($flow: null, $justify: null, $align: null, $gap: null) {
  display: flex;
  @if $flow {
    flex-flow: $flow;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $gap {
    gap: $gap;
  }
}

@mixin grid-template-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@mixin overflow-x-fix {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  width: calc(100% + 32px);
  overflow-x: scroll;

  //TO-DO:
  //connect java-script carousel, and then
  //delete this mixin
  //delete his @include in experts.scss
}

@mixin footer-icon-template($url) {
  position: relative;
  bottom: 5px;
  &::before {
    position: relative;
    top: 5px;
    display: inline-block;
    content: "";
    background: center center no-repeat url($url);
    height: 25px;
    width: 25px;
    margin-right: 12px;
  }
}

@media (max-width: $tablet-max-breakpoint) and (min-width: $tablet-min-breakpoint) {

  %ui-set-max-width {
    width: 100%;
    padding: 0 24px;
  }

}

@media (max-width: $mobile-breakpoint) {

  %ui-set-max-width {
    width: 100%;
    padding: 0 16px;
  }

}