.call-block-button, .header-start-button {
  text-align: center;
  text-transform: uppercase;
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #56B8FF;
  background-color: white;
  cursor: pointer;
  border: 2px solid #56B8FF;
  border-radius: 12px;
  transition: background-color 0.8s, color 0.8s;
}
.call-block-button:hover, .header-start-button:hover {
  background-color: #56B8FF;
  color: white;
}
.call-block-button:disabled, .header-start-button:disabled {
  border-color: #DBE3F0;
  color: #DBE3F0;
}

.benefits-content, .intro, .spacer-partners-pain, .spacer-intro-partners, .content-wrapper {
  max-width: 1240px;
  padding: 0 32px;
}

@media (max-width: 979px) and (min-width: 768px) {
  .benefits-content, .intro, .spacer-partners-pain, .spacer-intro-partners, .content-wrapper {
    width: 100%;
    padding: 0 24px;
  }
}
@media (max-width: 767px) {
  .benefits-content, .intro, .spacer-partners-pain, .spacer-intro-partners, .content-wrapper {
    width: 100%;
    padding: 0 16px;
  }
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

div,
section,
img,
header,
article {
  box-sizing: border-box;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", sans-serif;
}

.spacer-intro-partners {
  background: #fff;
  height: 96px;
  width: 100%;
}

.spacer-partners-pain {
  background: #fff;
  height: 144px;
  width: 100%;
}

@media (max-width: 979px) and (max-width: 768px) {
  .spacer-intro-partners {
    display: none;
  }
}
@media (max-width: 767px) {
  .spacer-intro-partners {
    background: #fff;
    height: 32px;
    width: 100%;
  }

  .spacer-partners-pain {
    background: #fff;
    height: 96px;
    width: 100%;
  }
}
.intro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 30px;
  background: #fff no-repeat top 116px right 56px url("src/img/bg-img.svg");
}
.intro-logo {
  margin-top: 64px;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 488px;
  border: 1px solid #DBE3F0;
  border-radius: 0 0 20px 20px;
  background: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
}
.header-top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 48px;
}
.header-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header-text-suptitle {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #A3B3CC;
  font-weight: 500;
}
.header-text-suptitle-special {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #A3B3CC;
  margin: 0 4px;
}
.header-text-title {
  font-family: "Futura PT Cond", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 450;
  line-height: 64px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #27303F;
  margin: 24px 0;
}
.header-text-subtitle {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #637899;
}
.header-start {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header-start-button {
  align-self: stretch;
  height: 56px;
  margin: 0 0 12px;
}
.header-start-subtitle {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #637899;
}
.header-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 123px;
  width: 424px;
  padding: 24px 0 0;
  background: #fff top center no-repeat url("src/img/header/header-more-circle.svg");
}
.header-bottom-text {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #A3B3CC;
  color: #637899;
  cursor: default;
  padding-bottom: 5px;
}
.header-bottom-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.spacer-header-top {
  width: 100%;
  height: 96px;
}
.spacer-header-text-to-button {
  width: 100%;
  height: 48px;
}
.spacer-header-button-to-more {
  height: 98px;
  width: 100%;
}

@media (max-width: 979px) and (min-width: 768px) {
  .intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff no-repeat center bottom url("src/img/bg-img.svg");
    background-size: calc(100vw + 64px) calc(calc(100vw + 64px) * 1.1);
    height: calc(calc(calc(100vw + 64px) * 1.1) + 272px);
  }

  .header {
    width: 640px;
  }
  .header-start {
    padding: 0 76px;
  }

  .intro-logo {
    position: absolute;
    margin-top: 48px;
  }
  .intro-logo-img {
    position: relative;
    left: 10px;
    width: 77.45px;
    height: 56px;
  }

  .spacer-header-top {
    height: 136px;
    width: 100%;
  }
  .spacer-header-button-to-more {
    display: block;
    height: 48px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff no-repeat center bottom url("src/img/bg-img.svg");
    background-size: calc(100vw + 64px) calc(calc(100vw + 64px) * 1.1);
    height: calc(calc(calc(100vw + 64px) * 1.1) + 272px);
  }
  .intro-logo {
    position: absolute;
    margin-top: 32px;
    left: calc(50% - 38.725px);
  }
  .intro-logo-img {
    position: relative;
    left: 10px;
    width: 77.45px;
    height: 56px;
  }

  .header {
    width: 100%;
    padding: 0 16px;
  }
  .header-top {
    padding: 0;
  }
  .header-text-suptitle {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #A3B3CC;
  }
  .header-text-title {
    font-family: "Futura PT Cond", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 450;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #27303F;
  }
  .header-text-subtitle {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #637899;
  }
  .header-start-button {
    margin: 0 0 12px;
  }
  .header-start-subtitle {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #637899;
  }
  .header-bottom-text {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #A3B3CC;
    color: #637899;
  }

  .spacer-header-top {
    height: 121px;
    width: 100%;
  }
  .spacer-header-text-to-button {
    height: 32px;
  }
  .spacer-header-button-to-more {
    height: 32px;
  }
}
@media (max-width: 767px) and (max-width: 545px) {
  .header-bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    padding: 0;
    width: 100px;
    height: 80%;
    background: none;
  }
  .header-bottom-wrapper {
    position: relative;
    padding-top: 29%;
    background: #fff bottom center/100% no-repeat url("src/img/header/header-more-circle.svg");
    border-radius: 0;
    max-width: 424px;
    max-height: 123px;
  }
  .header-bottom-wrapper:before {
    display: block;
    content: "";
    width: 100%;
  }
}
.partners {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  width: 100%;
}
.partners-text {
  font-family: "Futura PT", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #27303F;
  text-align: center;
  padding-bottom: 32px;
}
.partners-general {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.partners-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.spacer-partners {
  width: 100%;
  height: 56px;
}

@media (max-width: 979px) and (min-width: 768px) {
  .partners-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 62px;
    max-width: 504px;
  }

  .cossa {
    width: 135px;
  }

  .ruward {
    width: 114px;
  }

  .biz360 {
    width: 101px;
  }

  .cms-magazine {
    width: 171px;
  }

  .arda {
    width: 128px;
  }

  .rusbase {
    width: 152px;
  }
}
@media (max-width: 767px) {
  .partners-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    max-width: 288px;
  }
  .partners-text {
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.0025em;
    color: #27303F;
  }

  .cossa {
    width: 118px;
  }

  .ruward {
    width: 99px;
  }

  .biz360 {
    width: 79px;
  }

  .cms-magazine {
    width: 134px;
  }

  .arda {
    width: 100px;
  }

  .rusbase {
    width: 119px;
  }
}
.pain-title {
  font-family: "Futura PT", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #27303F;
  height: 176px;
}

.pain {
  background-color: #fff;
}
.pain-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: normal;
  gap: 24px;
}
.pain-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 32px;
  border: 1px solid #DBE3F0;
  border-radius: 20px;
  flex: 1 1 calc(33.3333333333% - 16px);
}
.pain-block-1 {
  flex: 1 2 23.4%;
}
.pain-block-3 {
  flex-grow: 2;
}
.pain-block-spacer {
  height: 64px;
  flex: 1 0 64px;
}
.pain-text {
  font-family: "Futura PT", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #27303F;
  color: #637899;
}
.pain-emoji {
  align-self: flex-end;
}

.pain-conclusion {
  margin-top: 72px;
  margin-bottom: 144px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.pain-conclusion-text {
  max-width: 768px;
  font-family: "Futura PT", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #27303F;
  text-align: center;
}

@media (max-width: 979px) and (min-width: 768px) {
  .pain-block {
    flex: 0 1 calc(50% - 12px);
  }
  .pain-block-1 {
    flex: 1 2 30%;
  }
  .pain-block-2 {
    flex: 0 1 65%;
  }
}
@media (max-width: 767px) {
  .pain-title {
    font-family: "Futura PT", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.0025em;
    text-align: left;
  }
  .pain-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .pain-block {
    max-width: 348px;
    flex: 1 0 auto;
  }
  .pain-text {
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.0025em;
    color: #27303F;
    color: #637899;
  }
  .pain-conclusion {
    margin-top: 72px;
    margin-bottom: 96px;
  }
  .pain-conclusion-text {
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.0025em;
    color: #27303F;
  }
}
.benefits {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #F9FAFD;
}
.benefits-content-title {
  margin-top: 144px;
  margin-bottom: 24px;
  font-family: "Futura PT", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #27303F;
  text-transform: uppercase;
  text-align: center;
}
.benefits-content-subtitle {
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #637899;
  text-align: center;
}
.benefits-content-box {
  display: flex;
  gap: 24px;
}
.benefits-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 48px 40px 72px;
  border: 1px solid #DBE3F0;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  flex: 1 1 calc(33% - 16px);
}
.benefits-item-text {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #27303F;
  flex: 1 1 50%;
}
.benefits-item-emoji {
  margin-bottom: 24px;
  align-self: center;
  flex: 0 0 50%;
}
.benefits-bottom-spacer {
  height: 144px;
  width: 100%;
}

@media (max-width: 979px) and (min-width: 768px) {
  .benefits-content-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .benefits-item {
    flex: 0 0 calc(50% - 24px);
  }
}
@media (max-width: 767px) {
  .benefits-content-title {
    font-family: "Futura PT", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.0025em;
    text-align: left;
    text-align: center;
  }
  .benefits-content-subtitle {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #637899;
  }
  .benefits-content-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .benefits-item {
    justify-content: space-between;
  }
  .benefits-item-text {
    font-family: Futura PT;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #27303F;
  }

  .benefits-bottom-spacer {
    height: 96px;
  }
}
.experts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}
.experts-title {
  margin-top: 144px;
  margin-bottom: 24px;
  font-family: "Futura PT", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #27303F;
  text-transform: uppercase;
}
.experts-subtitle {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #637899;
  max-width: 512px;
}
.experts-box {
  margin-top: 80px;
  margin-bottom: 96px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: normal;
  gap: 56px 24px;
}
.experts-card {
  flex: 0 1 calc((100% - 72px) / 4);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.experts-card-picture {
  padding: 0;
  border: 1px solid #DBE3F0;
  border-radius: 56px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: fit-content;
  flex: 0 0 auto;
  margin-bottom: 24px;
}
.experts-card-picture-wrapper {
  padding: 0 40px;
}
.experts-card-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.experts-card-description span {
  text-align: center;
}
.experts-card-description-name {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #27303F;
}
.experts-card-description-career {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #637899;
}
.experts-card-description-company {
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #27303F;
}
.experts-card-description-company-ws {
  color: #56B8FF;
}

.ceo {
  margin-top: 96px;
  margin-bottom: 144px;
  width: 100%;
}
.ceo-card {
  display: flex;
  flex-flow: column nowrap;
}
.ceo-card-picture {
  padding: 0;
  border: 1px solid #DBE3F0;
  border-radius: 56px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  margin-top: 0;
  margin-bottom: 24px;
  width: 152px;
  height: 152px;
}
.ceo-about {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #637899;
  text-align: left;
  color: #27303F;
  max-width: 480px;
  margin-bottom: 0;
}
.ceo-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 0;
  border: 1px solid #DBE3F0;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  padding-top: min( 56px , max( 40px , calc((100% - 916px) * 0.0615384615 + 40px) ) );
  padding-bottom: min( 56px , max( 40px , calc((100% - 916px) * 0.0615384615 + 40px) ) );
  box-shadow: none;
  width: 100%;
  background: #fff no-repeat bottom 32px right 32px url("src/img/experts/decoration-dots.svg");
}

@media (max-width: 979px) and (min-width: 768px) {
  .experts-card {
    flex: 0 1 calc((100% - 48px) / 3);
  }

  .ceo-content {
    background-size: 56px;
  }
}
@media (max-width: 767px) {
  .experts-title {
    font-family: "Futura PT", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.0025em;
    text-align: left;
  }
  .experts-subtitle {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #637899;
  }
  .experts-box {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    width: calc(100% + 32px);
    overflow-x: scroll;
    margin-top: 56px;
    margin-bottom: 72px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: normal;
    gap: 0;
  }
  .experts-box::-webkit-scrollbar {
    display: none;
  }
  .experts-box .experts-card:first-child {
    margin-left: 16px;
  }
  .experts-box .experts-card:last-child {
    margin-right: 16px;
  }
  .experts-card {
    flex: 0 1 calc((100% - 80px) / 3);
  }
  .experts-card-picture {
    height: 140px;
    width: 140px;
    border-radius: 38px;
  }
  .experts-card-picture-wrapper {
    padding: 0 24px;
  }

  .ceo {
    margin-top: 0;
    margin-bottom: 96px;
  }
  .ceo-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 56px 0;
    background: #fff no-repeat bottom 16px right 16px url("src/img/experts/decoration-dots.svg");
    background-size: 40px;
  }
  .ceo-content-card {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .ceo-about {
    padding: 0 16px;
  }
}
.call {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 48px;
  max-height: 576px;
  min-height: 544px;
  padding-top: 144px;
  padding-bottom: 144px;
  align-self: center;
  width: 100%;
  overflow: visible;
}
.call-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 476px;
  flex: 0 0 auto;
}
.call-block-title {
  font-family: "Futura PT", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #27303F;
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.call-block-text {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #637899;
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: left;
}
.call-block-button {
  height: 56px;
  max-width: 392px;
  width: 100%;
}
.call-image {
  width: 100%;
  height: 100%;
}
.call-image-wrapper {
  align-self: center;
  height: 100%;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  height: 170px;
  align-self: center;
  background: no-repeat bottom 1px right url("src/img/ws-logo.svg");
  background-size: 102px;
}
.footer-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 276px;
}
.footer-card-title {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #27303F;
  color: #637899;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
.footer-card-text {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 22px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #A3B3CC;
  color: #637899;
  margin-bottom: 12px;
  text-decoration: none;
}
.footer-card-text-facebook {
  position: relative;
  bottom: 5px;
}
.footer-card-text-facebook::before {
  position: relative;
  top: 5px;
  display: inline-block;
  content: "";
  background: center center no-repeat url("src/img/footer/facebook.svg");
  height: 25px;
  width: 25px;
  margin-right: 12px;
}
.footer-card-text-instagram {
  position: relative;
  bottom: 5px;
  bottom: 11px;
}
.footer-card-text-instagram::before {
  position: relative;
  top: 5px;
  display: inline-block;
  content: "";
  background: center center no-repeat url("src/img/footer/instagram.svg");
  height: 25px;
  width: 25px;
  margin-right: 12px;
}
.footer-card-text-instagram::before {
  top: 7px;
}
.footer-card-text-mail {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #637899;
  text-decoration: underline;
}
.footer-designer {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #637899;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #F9FAFD;
}

@media (max-width: 979px) and (min-width: 768px) {
  .call {
    gap: 36px;
    max-height: 360px;
  }
  .call-block {
    flex: 1 0 50%;
    align-self: center;
    height: 100%;
  }
  .call-image {
    flex: 1 0 50%;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .call {
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
    max-height: none;
    padding-top: 96px;
    padding-bottom: 0;
  }
  .call-block {
    max-width: none;
  }
  .call-block-title {
    font-family: "Futura PT", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.0025em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .call-block-text {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #637899;
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: left;
  }
  .call-block-button {
    max-width: none;
  }

  .footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
    margin-top: 56px;
    margin-bottom: 56px;
    height: 456px;
    padding-bottom: 140px;
    background-size: 78px;
  }
  .footer-designer {
    position: static;
    padding: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
